body {
    background-color: rgb(255, 213, 220);
    margin: 0;
    padding: 0; 
}

h1 {
    color:black; 
    font-family: Georgia;
    font-size: 100%; 
    text-align: center;
}

h2 {
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75%; 
}

p {
    font-family: 'Trebuchet MS';
}

.image.png {
    background-position: center;
}